{{import "../blocks/forms/input"}}
{{import "../icons/heroicons/ChevronUpDown"}}
{{import "../icons/heroicons/Check"}}

{{block dropdownCC(id="", label="", value="", class="")}}
<div id="{{id}}" class="dropdown{{if class}} {{class}}{{end}}"  @click.away="dropdownOpen = false; clearInput()"
     x-data="{
        dropdownOpen: false,
        items: [],
        filteredItems: [],
        searchQuery: '',
        dataLoaded: false,
        errorMessage: '',
        value: '{{value}}',
        label: '{{label}}',
        flag: '{{ asset("flags/" + strlower(value) + ".svg") }}',

        async loadItems() {
            try {
                const response = await fetch('{{ api("currency.json") }}');
                if (!response.ok) {
                    throw new Error('Failed to load data.');
                }
                this.items = await response.json();
                this.filteredItems = this.items;
                this.dataLoaded = true;
            } catch (error) {
                console.error('Error loading items:', error);
                this.errorMessage = 'Не удалось загрузить данные. Попробуйте позже.';
            }
        },

        toggleDropdown() {
            this.dropdownOpen = !this.dropdownOpen;

            if (this.dropdownOpen && !this.dataLoaded && !this.errorMessage) {
                this.loadItems();
            }
        },

        focusInput() {
            this.$nextTick(() => this.$refs[`{{id}}-search`]?.focus());
        },

        clearInput() {
            this.searchQuery = '';
            this.filteredItems = this.items;
        },

        filterItems() {
            const query = this.searchQuery.toLowerCase();
            this.filteredItems = this.items.filter(item =>
                item.Name.toLowerCase().includes(query) ||
                item.Code.toLowerCase().includes(query)
            );
        },
        selectItem(item) {
            this.value = item.Code;
            this.label = item.Name;
            this.flag = '{{asset("flags")}}/' + item.Code.toLowerCase() + '.svg';
            this.dropdownOpen = false;
        }
    }" class="relative">
    <button @click="toggleDropdown(); focusInput()" x-show="!dropdownOpen">
        <img :src="flag" width="24" height="24" :alt="value"
             class="h-7 w-7 mr-1.5" loading="lazy" />
            <b x-text="value"></b><span  x-text="'&nbsp;-&nbsp;' + label">{{label}}</span>
        {{yield ChevronUpDownHeroIcons(id=(id + "-icon"), class="absolute right-0 w-7 h-7 mr-2")}}
    </button>
    <div class="w-full mx-auto" x-show="dropdownOpen" x-cloak>
        {{yield inputField(id=(id + "-search"), type="search", placeholder="Enter currency name or code", class="w-full", required=true,
            attrs=map(
                "x-ref", (id),
                "x-model", "searchQuery",
                "@input", "filterItems"
            )
        )}}
    </div>
    <div x-show="dropdownOpen"
         x-transition:enter="ease-out duration-200"
         x-transition:enter-start="-translate-y-2"
         x-transition:enter-end="translate-y-0"
         class="absolute top-5 z-50 w-full mt-12" x-cloak>
        <div class="list" role="list">
            <template x-if="errorMessage">
                <div class="px-3 py-1.5" x-text="errorMessage"></div>
            </template>
            <template x-if="!errorMessage && filteredItems.length === 0">
                <div class="px-3 py-1.5">Ничего не найдено</div>
            </template>
            <template x-for="item in filteredItems" :key="item.Code">
                <div class="item" role="listitem" @click="selectItem(item);clearInput()">
                    <img :src="'{{ asset("/flags/' + item.Code.toLowerCase() + '.svg") }}'" 
                         :alt="item.Code" 
                         class="h-6 w-6 mr-1.5" 
                         width="24" height="24" loading="lazy" />
                    <b x-text="item.Code"></b><span  x-text="'&nbsp;-&nbsp;' + item.Name"></span>
                    <template x-if="value === item.Code">
                        {{yield CheckHeroIcons(id=(id + "-check"), class="absolute right-0 w-5 h-5 mr-2 stroke-green-600")}}
                    </template>
                </div>
            </template>
        </div>
    </div>
</div>
{{end}}