.relative(x-data='{dropdownOpen: false}')
  button.inline-flex.items-center.justify-center.h-12.py-2.pl-3.pr-12.text-sm.font-medium.transition-colors.bg-white.border.rounded-md(@click='dropdownOpen=true' class='hover:bg-neutral-100 active:bg-white dark:bg-gray-900 dark:border-gray-800 dark:text-neutral-300 focus:bg-white focus:outline-none disabled:opacity-50 disabled:pointer-events-none')
    img.object-cover.w-8.h-8.border.rounded-full.border-neutral-200(src='https://cdn.devdojo.com/images/may2023/adam.jpeg')
    span.flex.flex-col.flex-shrink-0.h-full.ml-2.leading-none.translate-y-px.justify-center
      | Adam Wathan
    svg.absolute.right-0.w-5.h-5.mr-3(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
      path(stroke-linecap='round' stroke-linejoin='round' d='M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9')
  div.absolute.top-0.z-50.w-56.mt-12(x-show='dropdownOpen' @click.away='dropdownOpen=false' x-transition:enter='ease-out duration-200' x-transition:enter-start='-translate-y-2' x-transition:enter-end='translate-y-0' class='-translate-x-1/2 left-1/2' x-cloak='')
    .p-1.mt-1.bg-white.border.rounded-md.shadow-md.text-neutral-700(class='border-neutral-200/70')
      .px-2.text-sm.font-semibold(class='py-1.5') My Account
      .h-px.my-1.-mx-1.bg-neutral-200
      a.relative.flex.cursor-default.select-none.items-center.rounded.px-2.text-sm.outline-none.transition-colors(href='#_' class='hover:bg-neutral-100 py-1.5 data-[disabled]:pointer-events-none data-[disabled]:opacity-50')
        svg.w-4.h-4.mr-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2')
          circle(cx='12' cy='7' r='4')
        span Profile
        span.ml-auto.text-xs.tracking-widest.opacity-60 &#x21E7;&#x2318;P
