{{ import "../dropdown/cc" }}
{{ import "../blocks/forms/input" }}
{{ import "../blocks/buttons/outline" }}
{{ import "../blocks/buttons/circle" }}

<div class="p-8 grid gap-4 items-center h-auto mx-auto rounded-b-lg bg-white dark:bg-slate-900/80 bg-opacity-90">
{{ 
    yield inputField(
        type="text",
        id="amount-input",
        placeholder="1,000.00",
        class="",
        required=true,
        attrs=map(
            "x-model", "$store.settings.amount",
            "@input", "$store.settings.setAmount($event.target.value)"
        )
    ) 
}}
{{ yield dropdownCC(id="base", label="Euro", value="EUR") }}
{{ yield dropdownCC(id="quote", label="US Dollar", value="USD") }}
{{ yield buttonOutline(label="Calc") }}
</div>
