<!DOCTYPE html>
<html x-data="darkModeToggle()" x-init="init" :class="{'dark': darkModeSwitch}">

<head>
    <title>{{ Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/common.bundle.css?{{ unixtime() }}">
    <script>
        if (localStorage.getItem('dark-mode-switch') === 'true' || (!('dark-mode-switch' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
</head>

<body>
    {{include "../partials/nav"}}
    {{ embed() }}
    {{include "../partials/footer"}}
</body>

</html>