doctype html
html(x-data="darkModeToggle()" x-init="init" :class="{ 'dark': darkModeSwitch}")
  head
    title Website
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    link(rel="stylesheet" href="/static/common.bundle.css")
    script.
      if (localStorage.getItem('dark-mode-switch') === 'true' || (!('dark-mode-switch' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
body
  include ../partials/nav.pug
  block content
  include ../partials/footer.pug
