@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-forms {
    @apply bg-transparent text-slate-700 dark:text-slate-200 placeholder:text-slate-500 outline-none disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn {
    @apply inline-flex items-center justify-center px-4 py-2 text-base h-16 font-medium tracking-wide transition-colors duration-100;
  }
}

body {
  @apply dark:bg-gray-950 dark:text-slate-200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-[#262b40] dark:text-white;
}

[x-cloak] {
  display: none !important;
}

.nav-item {
  @apply flex mb-3 text-sm font-medium text-blue-100 transition hover:text-white;
}

.nav-title {
  @apply mb-3 text-xs font-semibold tracking-wider text-blue-200 uppercase;
}

.footer-section {
  @apply col-span-1 md:col-span-1 lg:col-span-2;
}

.switch {
  @apply flex items-center justify-center space-x-2;

  button {
    @apply relative inline-flex h-6 ml-4 rounded-full w-10
  }

  span {
    @apply w-5 h-5 transform duration-200 ease-in-out bg-white rounded-full shadow-md;
  }

  label {
    @apply text-sm select-none;
  }
}


.dropdown {
  @apply relative w-full h-16 flex items-center ring-inset hover:ring-2 ring-slate-200 dark:ring-slate-700 duration-300 font-light transition-all bg-white dark:bg-slate-900 dark:border-slate-700 border rounded-lg text-slate-700 dark:text-slate-200;

  button {
    @apply text-2xl px-3 py-2 disabled:opacity-50 disabled:pointer-events-none w-full;
  }

  input {
    @apply flex text-xl px-3 py-2 h-16 w-full outline-none bg-transparent;
  }

  .content {
    @apply absolute overflow-hidden z-50 top-16 mt-1 w-full rounded-md h-56 bg-white border shadow-xl border-slate-300 text-slate-700 dark:text-slate-200 dark:bg-slate-800 dark:border-slate-700;

  }

  .list {
    @apply sm:h-56 overflow-scroll h-full;
  }

  .item {
    @apply relative flex cursor-default select-none hover:bg-slate-100 dark:hover:bg-slate-900/50 items-center px-2 py-3 text-sm outline-none transition-colors data-[disabled]:pointer-events-none data-[disabled]:opacity-50;
  }
}

hr {
  @apply h-px bg-slate-300 border-0 dark:bg-slate-700;
}


.btn-blue {
  @apply btn rounded-lg text-indigo-50 bg-indigo-600 hover:bg-indigo-700 shadow-sm;
}

.btn-circle {
  @apply flex transition hover:rotate-180 duration-500 items-center justify-center rounded-full border dark:border-slate-700 bg-white dark:text-slate-200 dark:bg-slate-900 p-2 text-slate-700 shadow-sm hover:bg-slate-100 outline-none;
}

.input-label {
  @apply rounded-lg px-3 h-16 py-2 font-light ring-inset bg-white hover:ring-2 ring-slate-200 border-slate-200 dark:bg-slate-900 dark:ring-slate-700 duration-300 transition-all border dark:border-slate-700;

  label {
    @apply block text-xs font-light text-gray-400 whitespace-nowrap;
  }

  input {
    @apply custom-forms text-xl py-1;
  }
}


.shadow-gradient {
  @apply absolute inset-x-0 h-8 z-50 dark:from-slate-800 from-white to-transparent pointer-events-none;
}