<section class="w-full pt-24 pb-8  lg:pb-32 bg-[#262b40]/15 dark:bg-[#262b40]">
    <div class=" justify-center max-w-3xl mx-auto ">
        <h2 class="text-5xl font-extrabold sm:text-7xl mx-auto flex justify-center">Currency Converter</h2>
        <div class="relative mt-10">

            <div
                class="inline-block w-full bg-slate-700 rounded-lg shadow-md bg-opacity-10">
                <div class="flex items-center w-full h-12 px-4 bg-transparent text-xs font-light">
                    Last updated Oct 17, 2024, 19:22 UTC
                </div>
           
                    {{ include "../partials/currency_converter/main" }}
           
            </div>
        </div>

    </div>
</section>