<section class="w-full pt-24 pb-8 overflow-hidden lg:pb-32 bg-[#262b40]/15 dark:bg-[#262b40]">
    <div class=" justify-center max-w-3xl mx-auto ">
        <h2 class="text-5xl font-extrabold sm:text-7xl mx-auto flex justify-center">Currency Converter</h2>
        <div class="relative mt-10">

            <div
                class="inline-block w-full text-xs font-light bg-slate-700 rounded-lg shadow-md bg-opacity-10">
                <div class="flex items-center w-full h-12 pl-4 bg-transparent ">

                    Last updated Oct 17, 2024, 19:22 UTC
                </div>
                <div
                    class="p-8 grid grid-cols-3 gap-4 items-center h-auto mx-auto rounded-b-lg bg-white dark:bg-slate-900/80 bg-opacity-90">
                    {{ include "../partials/currency_converter/main" }}
                </div>
            </div>
        </div>

    </div>
</section>