footer
  section.w-full.bg-blue-600(data-primary='blue-500')
    .px-8.py-12.mx-auto.max-w-7xl
      .grid.grid-cols-2.gap-4.mb-3(class='md:grid-cols-3 lg:grid-cols-12 lg:gap-20')
        .col-span-4
          a.text-xl.font-black.leading-none.text-white.select-none.logo(href='#_') tails.
          p.my-4.text-xs.leading-normal.text-blue-100
            | Beautifully hand-crafted components to help you build amazing pages.
        nav.footer-section
          p.nav-title Product
          a.nav-item(href='#') Features
          a.nav-item(href='#') Integrations
          a.nav-item(href='#') Documentation
          a.nav-item(href='#') FAQs
          a.nav-item(href='#') Pricing
        nav.footer-section
          p.nav-title About
          a.nav-item(href='#') Our Story
          a.nav-item(href='#') Company
          a.nav-item(href='#') Privacy
          a.nav-item(href='#') Blog
        nav.footer-section
          p.nav-title Contact
          a.nav-item(href='#') Advertising
          a.nav-item(href='#') Press
          a.nav-item(href='#') Email
          a.nav-item(href='#') Partners
          a.nav-item(href='#') Jobs

      .flex.flex-col.items-start.justify-between.pt-10.mt-10.border-t.border-blue-500(class='md:flex-row md:items-center' data-primary='blue-500')
        p.mb-6.text-sm.text-left.text-blue-200(class='md:mb-0') &copy; Copyright 2021 Tails. All Rights Reserved.
        .flex.items-start.justify-start.space-x-6(class='md:items-center md:justify-center')
          a.text-sm.text-blue-200.transition(href='#_' class='hover:text-white') Terms
          a.text-sm.text-blue-200.transition(href='#_' class='hover:text-white') Privacy
script(src='/static/common.bundle.js' async="" defer="")