extends ../layouts/main

block content
  div.container.px-6.py-32.mx-auto(class='md:text-center md:px-4')
    h1.text-4xl.font-extrabold.leading-none.leading-10.tracking-tight(class='sm:text-5xl md:text-6xl xl:text-7xl')
      | Test

    include ../partials/currency_converter/main.pug