extends layouts/main

block content
  div

  .container.px-6.py-32.mx-auto(class='md:text-center md:px-4')
        h1.text-4xl.font-extrabold.leading-none.leading-10.tracking-tight(class='sm:text-5xl md:text-6xl xl:text-7xl')
          span.block {{ .msg }} {{ .lang }}
          span.relative.inline-block.mt-3.text-white design websites
        p.mx-auto.mt-6.text-sm.text-left.text-gray-200(class='md:text-center md:mt-12 sm:text-base md:max-w-xl md:text-lg xl:text-xl')
          | If you are ready to change the way you design websites, then you&apos;ll want to use our block builder to make it fun and easy!
        .relative.flex.items-center.mx-auto.mt-12.overflow-hidden.text-left.border.border-gray-700.rounded-md(class='md:max-w-md md:text-center')
          input.w-full.h-12.px-6.py-2.font-medium.text-gray-800(type='text' name='email' placeholder='Email Address' class='focus:outline-none')
          span.relative.top-0.right-0.block
            button.inline-flex.items-center.w-32.h-12.px-8.text-base.font-bold.leading-6.text-white.transition.duration-150.ease-in-out.bg-gray-800.border.border-transparent(type='button' class='hover:bg-gray-700 focus:outline-none active:bg-gray-700' data-primary='gray-600')
              | Sign Up
        .mt-8.text-sm.text-gray-300 By signing up, you agree to our terms and services.
